body{
  background-color: #5b5656;
  color: #ff847c;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-weight: 600;
}
h3 {
  margin-bottom: 0px;
  font-weight: bold;
}

p{
  font-size: 16px;
}
h6{
  font-weight: bold;
}
/* Containers */

.container-fluid{
  margin-top: 65px;
  padding: 0% 15%;
  margin-bottom: 65px;
}
/* Navigation Bar */

.navbar {
padding-top: 10px;
text-align: left;
color: #ea907a;
}
.nav.navbar-nav li a{
  color: #ea907a;
}

.navbar-brand{
  text-align: right;
  font-weight: bolder;
}
.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #ea907a;
}



/* home */

/* Title Image */

.title-image {
  width: 100%;
  height: auto;
}
.saritImage{

  border-radius: 50%;
  width: 50%;
  margin-top: 25px;
  margin-left: 50px;
  text-align: right;
}
.services-image{
width: 100%;
}
#header{

  color: #e8ead3;
}
#header h1{
  text-align: right;
  font-size: 80px;
  font-weight: bolder;
  color: #ea907a;
  margin: 0px;
}
#header h3{
  text-align: right;
}
#header p{
  text-align: right;
  margin-bottom: 0px;
}
#startingTherapy {
  text-align: right;
  background-color: #ea907a;
  padding:15px;
}

#startingTherapy .container-fluid {
  color: #5b5656;
  background-color: #ea907a;
  margin-top: 40px;
}

#startingTherapy h1{

  padding-top: 40px;
  padding-bottom: 20px;
}
#startingTherapy p{

  padding-bottom: 40px;
  padding-top: 20px;
}
.centreInfo{
  margin-top: auto;
  margin-bottom: auto;
}

#aboutSarit{

}
#aboutSarit .container-fluid {
  margin-top: 150px;
  margin-bottom: 70px;
}


#myServices {
  text-align: center;
  color: #5b5656;
  padding:75px;
  background-color: #e8ead3;
}
#myServices h4{
  text-align: center;
  font-weight: bold;
  color: #5b5656;
}
#contactMe{
  color: #5b5656;
  background-color: #ea907a;
  padding:40px;
}
#contactMe .container-fluid {
margin-top: 40px;
}
#footer .container-fluid {
  text-align: center;
  position: relative;
  padding: 20px;
}
